.big-title {
  margin-bottom: 30px;
  padding-top: 200px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $title-text-white-color;
}

.background-people {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/Header_img.jpg);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-color: rgb(89, 97, 112);

  height: 600px;
  margin-right: auto;
  margin-left: auto;
}

.button {
  background-color: $logo-first-color;
  color: $title-text-white-color;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 22px;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.order-service {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  margin-bottom: 200px;
}
.order-button {
  text-align: center;
}
