.window {
  position: absolute;
  margin-left: 24px;
  margin-right: 24px;

  color: $title-text-white-color;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.text-window {
  position: absolute;
  align-items: center;
  display: inline-flex;

  height: 100%;
  width: 370px;
  background-color: rgba(33, 150, 243, 0.9);

  @include animation(translatey(100%));
}
.box-item {
  width: 370px;
  height: 404px;
  margin-bottom: 20px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.box-window {
  position: relative;
  overflow: hidden;
}
.box-item:hover .text-window {
  transform: translatey(-100%);
}

.product {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  &-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-title {
    margin-top: 20px;
    margin-left: 24px;

    color: $title-text-color;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &-name {
    margin-left: 24px;

    color: $main-text-color;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
  }
}
