.container.footer {
  @include for-size(desktop) {
    padding-top: 60px;
    // padding-bottom: 60px;
  }
}

.footer-contacts {
  & a {
    color: $main-text-color;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }

  &:not(:last-child) {
    margin-bottom: 9px;
  }

  & a:hover,
  & a:focus {
    color: $title-text-white-color;
  }
}

.logo-footer-part {
  display: block;
  // padding-top: 60px;
  margin-bottom: 20px;

  color: $title-text-white-color;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.join {
  margin-top: 60px;
  margin-bottom: 20px;

  color: $title-text-white-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  &-list:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-icons {
  &-list {
    display: flex;
    justify-content: center;
    @include for-size(desktop) {
      justify-content: flex-start;
      margin-right: 94px;
    }
  }

  &-items:not(:last-child) {
    margin-right: 10px;
  }

  &-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    @include animation(background-color);

    &:hover {
      background-color: $logo-first-color;
    }
  }
}

.footer-icon {
  fill: $title-text-white-color;
}

.subscription {
  margin-top: 60px;
  margin-bottom: 20px;
  @include for-size(desktop) {
    margin-top: 0px;
  }

  color: $title-text-white-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 44px;
  width: 44px;
  border-radius: 22px;
  background-color: rgba(255, 255, 255, 0.1);

  & a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }
}

.footer {
  // padding-left: 15px;
  // padding-right: 15px;
  // margin-right: auto;
  // margin-left: auto;

  // height: auto;
  background-color: $footer-color;

  &-list {
    @include for-size(desktop) {
      margin-right: 69px;
      padding-bottom: 60px;
    }
  }

  .flexbox-footer {
    @include for-size(desktop) {
      display: flex;
      align-items: baseline;
      justify-content: center;
    }
  }

  &-box {
    @include for-size(phone-only) {
      text-align: center;
    }
    @include for-size(tablet-portrait) {
      text-align: center;
    }

    @include for-size(tablet-landscape) {
      display: flex;
      flex-wrap: wrap;
    }
    .mailing {
      @include for-size(tablet-landscape) {
        width: 450px;
      }
      @include for-size(desktop) {
        width: auto;
      }
    }
    // .content-box {
    //   @include for-size(desktop) {
    //     margin-right: 94px;
    //   }
    // }
    & section {
      @include for-size(tablet-landscape) {
        width: calc((100% - 4 * 61px) / 2);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        // align-self: baseline;

        @include for-size(desktop) {
          width: auto;

          margin: 0px;
        }
        @include for-size(desktop) {
          text-align: start;
        }
      }

      .join {
        margin-top: 0px;
      }
    }

    @include for-size(desktop) {
      flex-wrap: nowrap;
    }
  }
}

// width: 1200px;
// margin-left: auto;
// margin-right: auto;
// }

.input {
  &-footer {
    width: 100%;

    height: 50px;
    @include for-size(desktop) {
      margin-right: 12px;
    }

    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: $title-text-white-color;

    background-color: $footer-color;
  }

  &-but {
    @include for-size(desktop) {
      display: flex;
      width: 585px;
    }
  }
}

.foot-but {
  margin-bottom: 60px;
  // display: block;
  display: inline-flex;
  // height: 50px;
  // width: 200px;
  // align-items: center;

  // & img {
  //   margin-left: 10px;
  // }

  &::after {
    content: "";
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-image: url(../images/icon_send.svg);
  }
}
