/* секция */
.button-filter:hover,
.button-filter:focus {
  background-color: var(--logo-first-color);
  color: var(--title-text-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.filter {
  display: flex;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-item {
  padding-top: 93px;
  margin-bottom: 50px;
}

.button-filter {
  width: 145px;
  height: 38px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);

  border-radius: 4px;
  background-color: #f5f4fa;
  border: none;

  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.window {
  position: absolute;
  margin-left: 24px;
  margin-right: 24px;

  color: var(--title-text-white-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.text-window {
  position: absolute;
  align-items: center;
  display: inline-flex;

  height: 100%;
  width: 370px;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translatey(100%);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.box-item {
  width: 370px;
  height: 404px;
  margin-bottom: 20px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.box-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.box-window {
  position: relative;
  overflow: hidden;
}
.box-item:hover .text-window {
  transform: translatey(-100%);
}

.product {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.product-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-title {
  margin-top: 20px;
  margin-left: 24px;

  color: var(--title-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product-name {
  margin-left: 24px;

  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
