$main-text-color: #757575;
$title-text-color: #212121;
$title-text-white-color: #ffffff;
$logo-first-color: #2196f3;
$logo-second-color: #000000;
$footer-color: #2f303a;
$team-color: #f5f4fa;
$logo-icon-color: #afb1b8;
