html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --title-text-white-color: #ffffff;
  --logo-first-color: #2196f3;
  --logo-second-color: #000000;
  --footer-color: #2f303a;
}
body {
  /* background-color: #b49e93; */
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 94px;
  /* padding-bottom: ; */
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.flexbox {
  display: flex;
}

h1,
h2,
h3,
h4,
h5,
p {
  padding: 0;
  margin: 0;
}
.next {
  padding-bottom: 94px;
}
/* logo */
.logo-first-part,
.logo-second-part {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo-first-part {
  color: var(--logo-first-color);
}

.logo-second-part {
  color: var(--logo-second-color);
  margin-right: 85px;
}

/* navigation */
.page-header {
  margin-top: 25px;
  margin-bottom: 25px;
}
.page-header-box {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
.menu-item:not(:last-child) {
  margin-right: 52px;
}
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.menu-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.menu-link:hover,
.menu-link:focus,
.contacts a:hover,
.contacts a:focus {
  color: var(--logo-first-color);
}

.list-nav .current {
  color: var(--logo-first-color);
}

/* контакты */
.contacts a {
  text-decoration: none;
  color: var(--title-text-color);
}
.contacts :not(:last-child) {
  margin-right: 30px;
}

.contacts img {
  margin-right: 10px;
}

.contacts {
  align-items: center;
}
/* заголовок */
.big-title {
  margin-bottom: 30px;
  padding-top: 200px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--title-text-white-color);
}

.background-people {
  width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;

  background-color: rgb(104, 122, 155);
}
/* кнопка */
.button {
  background-color: var(--logo-first-color);
  color: var(--title-text-white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 22px;
  border: 1px solid transparent;
}

.order-service {
  width: 200px;
  margin-bottom: 200px;
}
.order-button {
  text-align: center;
}

/* список 1 */

.features-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.features-text {
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 0;
}

.features-list:not(:last-child) {
  margin-right: 30px;
}

.technology {
  margin-bottom: 0;
}
.image-list {
  width: 270px;
  height: 120px;
  text-align: center;
}

/* список 2 */
.image-list img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}
/* .features {
  background-color: yellow;
} */

.employment-title {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
/* .employment {
  background-color: #a70e80;
} */
.employment-list p {
  color: var(--title-text-white-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.employment-list:not(:last-child) {
  margin-right: 30px;
}

.our-team-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1/18;
  text-align: center;
  letter-spacing: 0.03em;
}
.social {
  margin-left: 32px;
  margin-right: 32px;
  justify-content: space-between;
}
.page-header {
  margin-bottom: 25px;
  margin-top: 25px;
}
/* секция 3 */

.team {
  background-color: #f5f4fa;
}
.our-team-title {
  margin-bottom: 50px;
}

.team-list p {
  margin-bottom: 16px;
  text-align: center;
}
.team-list:not(:last-child) {
  margin-right: 30px;
}
/* секция 5 */
.top-client {
  padding-bottom: 94px;
}

.customers {
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.element-list {
  justify-content: space-between;
}
.company-box {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90px;
  width: 170px;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

/* footer */
.footer-contacts a {
  color: var(--main-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-contacts:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--title-text-white-color);
}

.logo-footer-part {
  display: block;
  padding-top: 60px;
  margin-bottom: 20px;

  color: var(--title-text-white-color);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.join {
  margin-top: 72px;
  margin-bottom: 20px;

  color: var(--title-text-white-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.join-list:not(:last-child) {
  margin-right: 10px;
}

.subscription {
  margin-top: 72px;
  margin-bottom: 20px;

  color: var(--title-text-white-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 44px;
  width: 44px;
  border-radius: 22px;
  background-color: crimson;
}
.footer {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  height: auto;
  background-color: var(--footer-color);
}

.footer-list {
  margin-right: 69px;
  padding-bottom: 60px;
}
.content-box {
  /* width: calc((100% - 12px) / 2); */
  margin-right: 94px;
}

.flexbox-footer {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

input {
  width: 358px;
  height: 50px;
  margin-right: 12px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: var(--footer-color);
}
.foot-but {
  display: flex;
  height: 50px;
  width: 200px;
}
.foot-but img {
  margin-left: 10px;
}

.input-but {
  display: flex;
}
